---
http_interactions:
- request:
    method: post
    uri: https://company.supportbee.com/tickets/8379182/assignments?auth_token=api_token
    body:
      encoding: UTF-8
      string: '{"assignment":{"user_id":2517806}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"676cfd53b1fe635a99d2eea680cc061d"'
    body:
      encoding: UTF-8
      string: '{"assignment":{"id":4180917,"created_at":"2016-03-14T18:20:55Z","ticket":{"id":8379182},"assignee":{"user":{"id":2517806,"email":"person4@example.com","name":"luis
        sagastume","agent":true,"picture":{"thumb20":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=128"}}}}}'
  recorded_at: Mon, 14 Mar 2016 18:20:55 GMT
recorded_with: VCR 3.0.1
