---
http_interactions:
- request:
    method: post
    uri: https://company.supportbee.com/tickets?auth_token=api_token
    body:
      encoding: UTF-8
      string: '{"ticket":{"subject":"Computer problem!","requester_name":"Francisco","requester_email":"panchito@gmail.com","cc":null,"content":{"text":"i
        have a problem!","html":"i have a problem!"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"7ddc0d423045660722a192954ef6b112"'
    body:
      encoding: UTF-8
      string: '{"ticket":{"id":8383813,"subject":"Computer problem!","replies_count":0,"agent_replies_count":0,"comments_count":0,"last_activity_at":"2016-03-14T05:14:05Z","created_at":"2016-03-14T05:14:05Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"i
        have a problem!","draft":false,"source":{"web":"luiscompany-support@supportbeemail.com"},"cc":[],"labels":[],"requester":{"id":2521307,"email":"panchito@gmail.com","name":"Francisco","agent":false,"picture":{"thumb20":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/b1bd28a765652215dc924bd7f2f389e7.png?r=PG&s=128"}},"content":{"html":"i
        have a problem!","text":"i have a problem!","truncated":false,"attachments":[]},"starred":false}}'
  recorded_at: Mon, 14 Mar 2016 05:14:06 GMT
recorded_with: VCR 3.0.1
