---
http_interactions:
- request:
    method: post
    uri: https://company.supportbee.com/tickets/8383813/comments?auth_token=api_token
    body:
      encoding: UTF-8
      string: '{"comment":{"content":{"html":null,"text":"Hey what''s up! what''s
        your problem?"},"attachment_ids":[]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"5693597647572fb71da666a3413e2736"'
    body:
      encoding: UTF-8
      string: '{"comment":{"id":3246062,"created_at":"2016-03-15T01:19:35Z","merged":false,"ticket":{"replies_count":0,"agent_replies_count":0,"comments_count":1},"commenter":{"id":2517806,"email":"lsagastume1990@gmail.com","name":"luis
        sagastume","agent":true,"active_tickets_count":2,"picture":{"thumb20":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/4621a3bae4c4badfc945a8dc20900b01.png?r=PG&s=128"}},"content":{"html":"Hey
        what''s up! what''s your problem?","text":"Hey what''s up! what''s your problem?","truncated":false,"attachments":[]}}}'
  recorded_at: Tue, 15 Mar 2016 01:19:35 GMT
recorded_with: VCR 3.0.1
