---
http_interactions:
- request:
    method: get
    uri: https://company.supportbee.com/tickets/search?auth_token=api_token&query=Henry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4408630aee503095286b1e33566ba890"'
    body:
      encoding: UTF-8
      string: '{"total":1,"current_page":1,"per_page":15,"total_pages":1,"tickets":[{"id":8379182,"subject":"My
        hands are hairy and blue!","replies_count":0,"agent_replies_count":0,"comments_count":1,"last_activity_at":"2016-03-13T01:43:11Z","created_at":"2016-03-13T01:12:36Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"empty)","draft":false,"source":{"web":"lsagastume1990@gmail.com"},"cc":[],"labels":[],"requester":{"id":2519570,"email":"beast_boy@gmail.com","name":"Henry
        Philip McCoy","agent":false,"picture":{"thumb20":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=128"}},"content":{"html":"(empty)","text":"(empty)","truncated":false,"attachments":[]},"starred":false}]}'
  recorded_at: Mon, 14 Mar 2016 03:55:37 GMT
- request:
    method: get
    uri: https://company.supportbee.com/tickets/search?auth_token=api_token&query=Henry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Mon, 14 Mar 2016 03:56:48 GMT
recorded_with: VCR 3.0.1
