---
http_interactions:
- request:
    method: post
    uri: https://company.supportbee.com/tickets/8379175/star?auth_token=api_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - https://luiscompany.supportbee.com/tickets/8379175/star.69009
      Etag:
      - '"a391d34ed4af38e6e6e8d5d3a00bee6b"'
    body:
      encoding: UTF-8
      string: '{"star":{"created_at":"2016-03-14T20:40:59Z","id":69009,"ticket_id":8379175,"updated_at":"2016-03-14T20:40:59Z","user_id":2517806}}'
  recorded_at: Mon, 14 Mar 2016 20:40:59 GMT
recorded_with: VCR 3.0.1
