---
http_interactions:
- request:
    method: get
    uri: https://company.supportbee.com/tickets/8379182/comments?auth_token=api_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"9bc2ba7584d875edfa82f4202484c96f"'
    body:
      encoding: UTF-8
      string: '{"comments":[{"id":3234284,"created_at":"2016-03-13T01:43:11Z","merged":false,"ticket":{"replies_count":2,"agent_replies_count":2,"comments_count":3},"commenter":{"id":2519598,"email":"system@supportbee.com","name":"SupportBee","agent":false,"active_tickets_count":0,"picture":{"thumb20":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=128"}},"content":{"html":"<strong>Failed
        to deliver message to beast_boy@gmail.com</strong>\n<br><br>\nWe were not
        able to deliver your message to the intended recipient beast_boy@gmail.com
        due to the following reason:\n<br><br><strong>Description:</strong> 5.1.1\n<br><strong>Reason:</strong>
        550 5.1.1 The email account that you tried to reach does not exist. Please
        try double-checking the recipient''s email address for typos or unnecessary
        spaces. Learn more at  https://support.google.com/mail/answer/6596 j189si19207731ioj.153
        - gsmtp \n<br><br>\n----- Summary of Original Message -----\n<br><br>\n(empty)\n<br><br>\nContact
        support for more info: support@supportbee.com\n","text":"Failed to deliver
        message to beast_boy@gmail.com\n\n\n\nWe were not able to deliver your message
        to the intended recipient beast_boy@gmail.com due to the following reason:\n\n\nDescription:
        5.1.1\n\nReason: 550 5.1.1 The email account that you tried to reach does
        not exist. Please try double-checking the recipient''s email address for typos
        or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596
        j189si19207731ioj.153 - gsmtp \n\n\n\n----- Summary of Original Message -----\n\n\n\n(empty)\n\n\n\nContact
        support for more info: support@supportbee.com\n","truncated":false,"attachments":[]}},{"id":3245970,"created_at":"2016-03-15T00:50:14Z","merged":false,"ticket":{"replies_count":2,"agent_replies_count":2,"comments_count":3},"commenter":{"id":2519598,"email":"system@supportbee.com","name":"SupportBee","agent":false,"active_tickets_count":0,"picture":{"thumb20":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/6bb3cdedcef8ee3c8ebe9471264818dd.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/ava[...]
