---
http_interactions:
- request:
    method: get
    uri: https://company.supportbee.com/tickets?auth_token=api_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4803cf951911de30982f3242ffc37043"'
    body:
      encoding: UTF-8
      string: '{"total":5,"current_page":1,"per_page":15,"total_pages":1,"tickets":[{"id":8379182,"subject":"My
        hands are hairy and blue!","replies_count":0,"agent_replies_count":0,"comments_count":1,"last_activity_at":"2016-03-13T01:43:11Z","created_at":"2016-03-13T01:12:36Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"empty)","draft":false,"source":{"web":"lsagastume1990@gmail.com"},"labels":[],"content":{"html":"(empty)","text":"(empty)","truncated":false,"attachments":[]},"starred":false,"cc":[],"requester":{"id":2519570,"email":"beast_boy@gmail.com","name":"Henry
        Philip McCoy","agent":false,"picture":{"thumb20":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/c8cf5d7d8de35d9932e709df39e6470e.png?r=PG&s=128"}}},{"id":8379175,"subject":"Got
        a fork stuck in my head!","replies_count":0,"agent_replies_count":0,"comments_count":1,"last_activity_at":"2016-03-13T01:41:39Z","created_at":"2016-03-13T01:11:09Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"empty)","draft":false,"source":{"web":"lsagastume1990@gmail.com"},"labels":[],"content":{"html":"(empty)","text":"(empty)[...]
- request:
    method: get
    uri: https://luiscompany.supportbee.com/tickets?auth_token=neSpxZiGTmy3yRsz2tQs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4803cf951911de30982f3242ffc37043"'
    body:
      encoding: UTF-8
      string: '{"total":5,"cur[...]
