---
http_interactions:
- request:
    method: post
    uri: https://company.supportbee.com/tickets/8379182/assignments?auth_token=api_token
    body:
      encoding: UTF-8
      string: '{"assignment":{"user_id":null,"group_id":5470}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"9236ac5fcf8ce76c3820106336e009f1"'
    body:
      encoding: UTF-8
      string: '{"assignment":{"id":4181394,"created_at":"2016-03-14T19:32:41Z","ticket":{"id":8379182},"assignee":{"group":{"id":5470,"name":"x-men","private":false,"picture":{"thumb20":"/images/groups/speech-balloon-orange-x20.png","thumb24":"/images/groups/speech-balloon-orange-x24.png","thumb32":"/images/groups/speech-balloon-orange-x32.png","thumb48":"/images/groups/speech-balloon-orange-x48.png","thumb256":"/images/groups/speech-balloon-orange-x256.png"}}}}}'
  recorded_at: Mon, 14 Mar 2016 19:32:41 GMT
- request:
    method: post
    uri: https://company.supportbee.com/tickets/8379182/assignments?auth_token=api_token
    body:
      encoding: UTF-8
      string: '{"assignment":{"user_id":null,"group_id":5470}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"error":"Sorry. Something seems to have gone wrong. Please recheck
        your api request or try again after some time. If the problem persists, write
        to us at support@supportbee.com"}'
  recorded_at: Mon, 14 Mar 2016 19:35:35 GMT
recorded_with: VCR 3.0.1
