---
http_interactions:
- request:
    method: get
    uri: https://company.supportbee.com/tickets/8379175?auth_token=api_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"06c3d1c99b395bb3ed49e6decbd0d387"'
    body:
      encoding: UTF-8
      string: '{"ticket":{"id":8379175,"subject":"Got a fork stuck in my head!","replies_count":0,"agent_replies_count":0,"comments_count":1,"last_activity_at":"2016-03-13T01:41:39Z","created_at":"2016-03-13T01:11:09Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"empty)","draft":false,"source":{"web":"lsagastume1990@gmail.com"},"cc":[],"labels":[],"requester":{"id":2519566,"email":"magneto_pro1965@gmail.com","name":"Erik
        Lehnsherr","agent":false,"picture":{"thumb20":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/b508ef62c28dd84686549476b2abfaca.png?r=PG&s=128"}},"content":{"html":"(empty)","text":"(empty)","truncated":false,"attachments":[]},"starred":false}}'
  recorded_at: Mon, 14 Mar 2016 05:53:39 GMT
recorded_with: VCR 3.0.1
