---
http_interactions:
- request:
    method: get
    uri: https://company.supportbee.com/tickets/8379182/replies?auth_token=api_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"50f74fd29fe4c12cc24686334269a91b"'
    body:
      encoding: UTF-8
      string: '{"replies":[
          {
      "id":1,
      "created_at":"2012-01-20T03:45:51Z",
      "summary":"Reply Content",
      "cc":[],
      "ticket":{
        "replies_count":2,
        "comments_count":0
      },
      "replier":{
        "id":1,
        "email":"person2@example.com",
        "name":"Agent,1",
        "agent":true,
        "picture":{
          "thumb20":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=20",
          "thumb24":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=24",
          "thumb32":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=32",
          "thumb48":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=48",
          "thumb64":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=64",
          "thumb128":"https://secure.gravatar.com/avatar/be27d979489e5ff5f6f503442c9d349b.png?r=PG&s=128"
        }
      },
      "content":{
        "body":"Reply Content",
        "html":null,
        "attachments":[]
      }
    }
    ]}'
  recorded_at: Mon, 14 Mar 2016 22:12:21 GMT
recorded_with: VCR 3.0.1
